page-add-order {
        .item ion-thumbnail {
    min-width: 3rem;    
    min-height: 3rem;
    img {
        max-width: 4rem;    
        min-width: 4rem;
        max-height: 4rem;    
        min-height: 4rem;
    }
}

}
